.ui {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .avatar {
    width: 100px;
    height: 100px;
  }

  .intro {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .btnCheck {
    width: fit-content;
  }
}

.results {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .box {
    display: flex;
    flex-direction: column;
  }
}
