.ui {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 2rem;

  .avatar {
    width: 100px;
    height: 100px;
  }

  .intro {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .btnCheck {
    width: fit-content;
  }
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
  }

  .cheaters {
    background-color: #490510;
    border: 3px solid #fa412d;
  }
  .streamers {
    background-color: #645606;
    border: 3px solid gold;
  }
}
