.container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--primary-color);
  background-color: #242424;

  label {
    color: var(--primary-color);
    font-size: 20px;
  }
}
